<div style="border: 4px solid black; padding: 10px; width: 400px; border-radius: 15px;">
  <p>Question id: <%= @question.id %></p>
  <p>Question body: <%= @question.body %></p>
  <p>Answers:</p>
  <% @question.answers.each do |ans| %>
    <div style="border: 2px solid black; padding: 10px; width: 300px; margin-bottom: 10px;  border-radius: 7px;">
      <p>Answer id: <%= ans.id %></p>
      <p>Answer body: <%= ans.body %></p>
      <p>Is correct?: <%= ans.correct %></p>
    </div>
  <% end %>
  <div style="display: flex; justify-content: flex-end">
    <%= link_to 'Destroy question', test_question_path(params[:test_id], params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
