<% success_rate = @statistic.success_rate %>

<p><%= t('.test_passed', title: @statistic.test.title) %></p>
<p>
  <% if @statistic.success? %>
    <%= t('.rate') %> <span class="text-color success"><%= success_rate %></span>
    <%= t('.success') %>
  <% else %>
    <%= t('.rate') %> <span class="text-color fail"><%= success_rate %></span>
    <%= t('.fail') %>
  <% end %>
</p>

<%= link_to t('links.tests_list'), tests_path %>
