<% test = @statistic.test %>

<p><%= t('.pass_test', title: test.title) %></p>
<p><%= Question.model_name.human %> <%= @statistic.current_question_number %> / <%= test.questions.size %></p>
<p><%= @statistic.current_question.body %></p>

<%= form_with url: statistic_path(@statistic), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @statistic.current_question.answers, :id, :body, include_hidden: false do |cb| %>
    <p>
      <%= cb.check_box id: "answer_ids_#{cb.object.id}" %>
      <%= cb.label %>
    </p>
  <% end %>
  <%= f.submit t('links.next_question') %>
<% end %>
