<footer class="footer">
  <ul class="nav float-lg-right mr-lg-4">
    <li class="nav-item mr-2 ml-2">
      <span class="navbar-text"><%= t('project.name') %></span>
    </li>
    <li class="nav-item mr-2 ml-2">
      <span class="navbar-text"><%= t('project.author') %> <%= github_url('GolovkoStepan', 'test_guru') %></span>
    </li>
    <li class="nav-item mr-2 ml-2">
      <spam class="navbar-text"><%= school_link %></spam>
    </li>
    <li class="nav-item mr-2 ml-2">
      <span class="navbar-text"><%= current_year %></span>
    </li>
  </ul>
</footer>
