<tr>
  <td> <%= Question.human_attribute_name('body') %> <%= question.body %></td>
  <td><%= link_to t('links.show'), admin_question_path(question) %></td>
  <td><%= link_to t('links.edit'), edit_admin_question_path(question) %></td>
  <td><%= link_to t('links.destroy'), admin_question_path(question), method: :delete, data: { confirm: t('messages.destroy') } %></td>
</tr>
